/*****************************************/
/*          General Styles               */
/*****************************************/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "myriad-pro", sans-serif;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-weight: 300;
}

strong {
    font-weight: 600;
}

/*****************************************/
/*          scrollBar                    */
/*****************************************/

#scroll {
    position: fixed;
    right: 20px;
    height: 80%;
    width: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 999;
}

#scroll i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: block;
}

#scroll #scrollUp {
    position: absolute;
    top: 0;
}

#scroll #scrollDown {
    position: absolute;
    bottom: 0;
}

#scroll #scrollBar {
    height: 80%;
    width: 6px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#scrollBar #scrollSlider {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    margin-left: -7px;
    cursor: pointer;
}

#scrollPane {
    overflow-y: scroll;
    height: auto;
    width: 100vw;
}

::-webkit-scrollbar { width: 0 !important;}

/*****************************************/
/*          Page Sections                */
/*****************************************/
.wrapper {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    overflow: auto;
}

.container {
    max-width: 491px;
    margin: auto;
    padding: 0 64px 0 33px;
    position: relative;
    box-sizing: border-box;
}

.section {
    padding: 50px 0;
}

p {
    font-size: 16px;
    color: #fff;
    clear: both;
    margin: 20px 0 0;
    letter-spacing: 0.3px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

h2 {
    font-size: 37px;
    line-height: 38px;
    color: #fff;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 32px;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
}

h2 span {
    font-weight: 600;
}

h2::after {
    height: 2px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
}

.left-text {
    text-align: left;
}

.left-text h2 {
    padding-left: 24px;
    text-indent: -24px;
}

.left-text h2::after {
    left: -33px;
    width: calc(100% + 33px);
}

.left-text p {
    margin-left: 24px;
}

.right-text {
    text-align: right;
}

.right-text h2::after {
    right: -64px;
    width: calc(100% + 64px);
}

.section-image {
    margin-top: 24px;
}

.cta-link {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    line-height: 55px;
}

.left-text .cta-link {
    margin-left: 24px;
}

/*****************************************/
/*          Intro Section                */
/*****************************************/
.intro {
    background: #0097A8;
    padding: 50px 0 6px;
    overflow: auto;
}

.title h1 {
    font-size: 38px;
    line-height: 35px;
    color: #fff;
    font-weight: 200;
    float: left;
    width: 45%;
    margin-left: 26px;
    letter-spacing: -1px;
    transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
}

.title .large-number {
    font-size: 175px;
    font-weight: 600;
    color: #fff;
    float: left;
    margin-left: 9%;
    transform: translateY(-31px);
    -moz-transform: translateY(-31px);
    -webkit-transform: translateY(-31px);
}

.title .large-number::after {
    content: '';
    height: 126px;
    width: 2px;
    background: #1F5398;
    display: inline-block;
    margin-left: 27px;
    transform: translateY(2px);
    -moz-transform: translateY(2px);
    -webkit-transform: translateY(2px);
}


/*****************************************/
/*          Section 1                    */
/*****************************************/
#section1 {
    background: #C3D732;
    padding-top: 29px;
    padding-bottom: 0;
    overflow: auto;
}

#section1 .container {
    background: url('../images/bottle.svg') no-repeat;
    background-size: 242px 265px;
    background-position: calc(100% + 70px) 3px;
}

#section1 h2::after {
    background: #72B129;
    width: calc(100% + 35px + 85px);
}

#section1 p {
    max-width: 69%;
    /*float: left;*/
}

/*****************************************/
/*          Section 2                    */
/*****************************************/
#section2 {
    background: #FF693F;
    padding-top: 37px;
    padding-bottom: 0;
}

#section2 .container {
    background: url('../images/calendar.svg') no-repeat;
    background-size: 185px;
    background-position: -57px calc(100% + 20px);
}

#section2 h2::after {
    background: #D72232;
}

#section2 p {
    padding-left: 60px;
}

#section2 .cta-link {
    margin-top: 29px;
    display: block;
}
/*****************************************/
/*          Section 3                    */
/*****************************************/
#section3 {
    background: #8444AC;
    padding-top: 45px;
    padding-bottom: 0;
    overflow: auto;
}

#section3 .container {
    background: url('../images/nurse.svg') no-repeat;
    background-size: 166px;
    background-position: calc(100% + 21px) 0;
}

#section3 h2::after {
    background: #B37BC4;
}

#section3 p {
    width: 56%;
}

#section3 img {
    width: 148px;
    position: absolute;
    right: 65px;
    bottom: 84px;
}
/*****************************************/
/*          Section 4                    */
/*****************************************/
#section4 {
    background: #214F97;
    padding: 0;
    overflow: auto;
}

#section4 .container {
    background: url('../images/footsteps.png') no-repeat;
    background-size: 110px;
    background-position: 50px -19px;
    padding: 45px 65px 3px 35px;
}

#section4 h2 {
    margin-bottom: 66px;
}

#section4 h2::after {
    background: #4DC3E1;
    bottom: -66px;
    width: calc(100% + 32px + 65px);
}

#section4 p {
    padding-left: 33%;
}

#section4 img {
    position: absolute;
    width: 199px;
    left: 27px;
    top: calc(100% - 104px);
}

/*****************************************/
/*          Section 5                    */
/*****************************************/
#section5 {
    background: #F4AA28;
    padding-bottom: 0;
    padding-top: 22px;
}

#section5 .container {
    background: url('../images/target.svg') no-repeat;
    background-size: 173px;
    background-position: calc(100% + 59px) 0;
    padding-top: 18px;
}

#section5 h2::after {
    background: #FED863;
    width: calc(100% + 35px + 37px);
}

#section5 p {
    width: 82%;
}

/*****************************************/
/*          Footer                       */
/*****************************************/
.footer {
    background: #0097A8;
    padding: 45px 0 25px;
}

.footer p {
    margin-top: 0;
    width: 92%;
}

.footer p:nth-child(2) {
    margin-top: 16px;
}

.schedule-a-checkup {
    color: #fff;
    margin-top: 25px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    position: relative;
}

.schedule-a-checkup::before {
    content:'';
    background: url('../images/schedule-checkup.svg') 27px 27px;
    background-size: cover;
    height: 27px;
    width: 27px;
    display: inline-block;
    margin-right: 30px;
    transform: translateY(6px);
    -moz-transform: translateY(6px);
    -webkit-transform: translateY(6px);
}

/*****************************************/
/*          Mobile                       */
/*****************************************/

@media screen and (max-width: 768px) {
    #scroll {
        display: none;
    }
}

@media (max-width: 485px) {
    .title .large-number {
        font-size: 125px;
        margin-left: 0;
    }
    .title .large-number::after {
        height: 88px;
    }
    .title h1 {
        font-size: 26px;
        line-height: 32px;
        width: 40%;
        transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .left-text p {
        margin-left: 24px;
    }

    #section1 .container {
        background-position: calc(100% + 75px) 30px;
    }
    #section1 p {
        max-width: 58%;
        float: none;
    }
    #section2 p {
        padding-left: 40%;
    }
    #section3 p {
        width: 60%;
    }
    #section4 .container {
        background-position: 20px 10px;
    }
    #section4 p {
        padding-left: 42%;
    }
    #section5 p {
        width: 75%;
    }
}
