/*****************************************/
/*          General Styles               */
/*****************************************/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "myriad-pro", sans-serif;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-weight: 300;
    background: #2C9576;
}

strong {
    font-weight: 600;
}

/*****************************************/
/*          Page Sections                */
/*****************************************/
.wrapper {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    overflow: auto;
}

.container {
    max-width: 491px;
    margin: auto;
    padding: 50px 64px 0 33px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

p {
    font-size: 16px;
    color: #fff;
    clear: both;
    margin: 20px 0 0;
    letter-spacing: 0.3px;
}

h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    margin-top: 0;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
}

h2 span {
    font-weight: 600;
}

h2::after {
    height: 2px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
}

.left-text {
    text-align: left;
}

.left-text h2::after {
    left: -33px;
    width: calc(100% + 33px);
}

.right-text {
    text-align: right;
}

.right-text h2::after {
    right: -64px;
    width: calc(100% + 64px);
}

.section-image {
    position: absolute;
}

.cta-link {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    line-height: 55px;
}

/*****************************************/
/*          Section 4                    */
/*****************************************/
#section4 {
    background: #2C9576;
    padding-bottom: 0;
}

#section4 h2::after {
    background: #C9D64B;
}

#section4 img {
    width: 204px;
    left: 40px;
    top: 18px;
}

/*****************************************/
/*          Mobile                       */
/*****************************************/

@media (max-width: 455px) {
    .container {
        padding-top: 100px;
    }
}
