/*****************************************/
/*          General Styles               */
/*****************************************/

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "myriad-pro", sans-serif;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-weight: 300;
}

strong {
    font-weight: 600;
}

/*****************************************/
/*          scrollBar                    */
/*****************************************/

#scroll {
    position: fixed;
    right: 20px;
    height: 80%;
    width: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#scroll i {
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: block;
}

#scroll #scrollUp {
    position: absolute;
    top: 0;
}

#scroll #scrollDown {
    position: absolute;
    bottom: 0;
}

#scroll #scrollBar {
    height: 80%;
    width: 6px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

#scrollBar #scrollSlider {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    margin-left: -7px;
}

#scrollPane {
    overflow-y: scroll;
    height: auto;
    width: 100vw;
}

::-webkit-scrollbar { width: 0 !important;}

/*****************************************/
/*          Page Sections                */
/*****************************************/
.wrapper {
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
    overflow: auto;
}

.container {
    max-width: 491px;
    margin: auto;
    padding: 0 64px 0 33px;
    position: relative;
    box-sizing: border-box;
}

.section {
    padding: 62px 0;
}

p {
    font-size: 16px;
    color: #fff;
    clear: both;
    margin: 20px 0 0;
    letter-spacing: 0.3px;
}

h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 200;
    margin-top: 0;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
}

h2 span {
    font-weight: 600;
}

h2::after {
    height: 2px;
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
}

.left-text {
    text-align: left;
}

.left-text h2::after {
    left: -33px;
    width: calc(100% + 33px);
}

.right-text {
    text-align: right;
}

.right-text h2::after {
    right: -64px;
    width: calc(100% + 64px);
}

.section-image {
    position: absolute;
}

.cta-link {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    line-height: 55px;
}

/*****************************************/
/*          Intro Section                */
/*****************************************/
.intro {
    background: #436BA0;
    padding: 38px 0 34px;
}

.title h1 {
    font-size: 38px;
    line-height: 35px;
    color: #fff;
    font-weight: 200;
    float: left;
    width: 250px;
    margin-left: 22px;
    letter-spacing: -1px;
    transform: translateY(6px);
}

.title .large-number {
    font-size: 130px;
    font-weight: 600;
    color: #fff;
    float: left;
}

.title .large-number::after {
    content: '';
    height: 88px;
    width: 2px;
    background: #AAC756;
    display: inline-block;
    margin-left: 10px;
}

.intro p {
    width: 90%;
}


/*****************************************/
/*          Section 1                    */
/*****************************************/
#section1 {
    background: #2C9576;
    padding-bottom: 48px;
}

#section1 h2::after {
    background: #A5CC5C;
}

#section1 p {
    max-width: 63%;
}

#section1 img {
    width: 240px;
    right: 64px;
    top: calc(100% - 72px);
}
/*****************************************/
/*          Section 2                    */
/*****************************************/
#section2 {
    background: #3FADB5;
    padding-bottom: 48px;
}

#section2 h2::after {
    background: #E87450;
}

#section2 img {
    width: 275px;
    left: 33px;
    top: calc(100% - 29px);
}
/*****************************************/
/*          Section 3                    */
/*****************************************/
#section3 {
    background: #DE7452;
    padding-bottom: 45px;
}

#section3 h2::after {
    background: #EDAD42;
}

#section3 img {
    width: 345px;
    left: 25px;
    top: calc(100% - 25px);
}
/*****************************************/
/*          Section 4                    */
/*****************************************/
#section4 {
    background: #2C9576;
    padding-bottom: 0;
}

#section4 h2::after {
    background: #C9D64B;
}

/*****************************************/
/*          Footer                       */
/*****************************************/
.footer {
    background: #4A6FA0;
    padding: 50px 0 45px;
}

.footer p {
    margin-top: 0;
}

.schedule-a-checkup {
    color: #fff;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.schedule-a-checkup::before {
    content:'';
    background: url('../images/schedule-checkup.svg') 27px 27px;
    background-size: cover;
    height: 27px;
    width: 27px;
    display: inline-block;
    margin-right: 13px;
    transform: translateY(6px);
}

/*****************************************/
/*          Mobile                       */
/*****************************************/

@media screen and (max-width: 768px) {
    #scroll {
        display: none;
    }
}

@media (max-width: 455px) {
    .title .large-number {
        font-size: 125px;
    }
    .title h1 {
        font-size: 30px;
        line-height: 38px;
        width: 190px;
        transform: translateY(-8px);
    }
    #section4 {
        padding-top: 100px;
    }
    #section3 img {
        width: 300px;
    }
}

@media (max-width: 388px) {
    .title h1 {
        width: 135px;
        font-size: 24px;
        transform: translateY(16px);
        line-height: 32px;
    }

    #section1 img {
        width: 200px;
        right: 20px;
    }

    #section2 img {
        width: 230px;
        top: calc(100% - 14px);
    }
}
